@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  font: inherit;
  color: inherit;
  vertical-align: baseline;
}

:root {
  --bg: rgb(16, 15, 15);
  --bg2: rgb(28, 27, 26);
  --text: rgb(207, 207, 202);
  --text2: rgb(135, 133, 128);
  --border: rgb(64, 62, 60);
}

body {
  line-height: 1.5;
  font-family: Inter, serif;
  background: var(--bg);
  color: var(--text);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  padding: 2em 1em 2em 1em;
  gap: 1em;
}
.inner {
  display: flex;
  flex-direction: column;
  max-width: 40em;
  overflow: hidden;
}

h1 {
  font-weight: 400
}
h2 {
  font-weight: 400
}
p, a {
  font-weight: 300
}

@media screen and (max-width: 700px) {
  body {
    font-size: 16px;
  } 
  svg {
    scale: .9;
  }
  svg path {
    stroke-width: 1.2!important
  }
}
@media screen and (max-width: 400px) {
  body {
    font-size: 14px;
  }
  svg {
    scale: .8;
  }
  svg path {
    stroke-width: 1.4!important
  }
}
